header {
	
}

.dws-menu {
	margin: 0;
	padding: 8px 40px 8px 40px;
	
}
.dws-menu ul,
.dws-menu ol {
	list-style: none;
	margin: 0 0 0;
	padding: 0;
	
}

.dws-menu > ul {
	display: flex;
	justify-content: center;
}

.dws-menu > ul li a {
	display: block;
	background: #DEDEDE;
	padding: 15px 30px 15px 40px;
	font-size: 18px;
	color: #59574F;
	text-decoration: none;
	transition: all 0.3s ease;
}

.dws-menu > ul li{
	position: relative;
	border-right: 2px solid #C4C4C4;
}

.dws-menu > ul li > a i.fa{
	position: absolute;
	top: 15px;
	left: 12px;
	font-size: 20px;
}

.dws-menu > ul li:first-child{
	border-left: 2px solid #C4C4C4;
}

.dws-menu > ul li:last-child{
	border-right: 2px solid #C4C4C4;
}

.dws-menu li a:hover{
	background: #F3F3F3;
	color:black;
	box-shadow: 1px 5px 10px -5px black;
	transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul {
	position: absolute;
	min-width: 150px;
	display:none;
	right: 45px;
}

.dws-menu li> ul li{
	border: 1px solid #C4C4C4;
}

.dws-menu li> ul li a{
	padding: 10px;
	text-transform: none;
	background: #F3F3F3;
}

.dws-menu li> ul li ul{
	position: absolute;
	right: -150px;
	top: 0;
}

.dws-menu li:hover > ul{
	display:block;
}