body, h1, h2, h3, h4, p, a {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
	background-color: #eee;
	text-align: center;
	background-image: url(photo/header.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	box-shadow: 2px 2px 5px gray;
}

.flex {
	width: 100%;
	height: 100%;
	display: flex;
}

.title {
	margin: auto;
	font-size: 140px;
}

.content{
	color: black;
	font-size: 0;
	width: 1650px;
	margin: 50px auto 50px;
}

.card{
	width: 500px;
	height: 600px;
	display: inline-block;
	margin-right: 50px;
	margin-bottom: 50px;
	padding: 45px 45px 70px;
	box-shadow: 4px 4px 5px rgba(250, 50, 50, .4);
	text-align: center;
}

.image {
	width: 400px;
	height: 400px;
}

.text-p {
	font-size: 18px;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
}

.content-title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
} 

.footer{
	background-color: #F3EDDF;
	height: 50px;
	display: flex;
}

.footer-text {
	margin: auto;
	color: black;
	font-size: 24px;
}

.link {
	color: black;
}